* {
  box-sizing: border-box;
}
body {
  background-color: darkslategrey;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
#message-area, #button-area {
  position: absolute;
  align-items: center;
  margin-left: 40vmin;
  padding-left: 5vmin;
  justify-content: center;
}
#playing-area {
  display: grid;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 5vmin;
  margin-left: 5vmin;
  margin-right: 5vmin;
}
#game-board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(0, 0, 0);
  border-style: groove;
  /* padding-top: 95%; */
  width: 100px;
  height: 100px;
}
/* #game-board > div:hover {
  border-radius: 5px;
  border-color: whitesmoke;
} */
.color1-tile > .checkers-piece {
  object-fit: cover;
  width: 95%;
  position: relative;
  max-height: 95%;;
  overflow: hidden;
}
.checkers-piece:hover {
  width: 90%;
  height: 90%;
  box-shadow: 0 0 10px rgba(4, 4, 5, 0.61);
}
.color1-tile {
  background-color: dimgray;
}
.color2-tile {
  background-color: rgba(82, 9, 219, 0.61);
}
