* {
  box-sizing: border-box;
}
body {
  background-color: darkslategrey;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
#message-area,
#button-area {
  position: relative;
  align-items: center;
  margin-top: 2vmin;
  margin-left: 40vmin;
  padding-left: 5vmin;
  justify-content: center;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 5vmin;
  margin-left: 5vmin;
  margin-right: 5vmin;
}
#game-board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(0, 0, 0);
  border-style: groove;
  width: 100px;
  height: 100px;
}
div.moveable {
  border-radius: 10px;
  border-color: rgb(177, 189, 12);
  background-color: rgb(197, 194, 8);
}
.team-black,
.team-white {
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
}

.team-black:hover,
.team-white:hover {
  border-radius: 10px;
  background-size: 86%;
  border-color: rgb(255, 2, 2);
}
.color1-tile {
  background-color: rgb(121, 119, 119);
}
.color2-tile {
  background-color: rgba(82, 9, 219, 0.61);
}

/* classes to add when a piece gets moved to a square */
.team-black {
  background-image: url(../images/checkerspiecedark.jpg);
}
.team-white {
  background-image: url(../images/checkerspiecelight.jpg);
}

.team-black.king {
  background-image: url(../images/checkerspiecedarkking.jpg);
}
.team-white.king {
  background-image: url(../images/checkerspiecelightking.jpg);
}
